body {
    background-color: #1E1E1E;
}


.explain {
    color: white;
}


.card {
    display: flex;
    gap: 35px;
    padding: 30px;
}

.botton {
    padding-left: 1500px;
    padding-top: 1px;
}


/* .categories {
    display: flex;
    padding: 1100px 62px 3700px 62px;
} */









.question {
    display: flex;
    color: white;
    /* align-items: center; */
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}


.item {
    padding: 5px;
    /* width: 200px;
    height: 150px; */
    margin-top: 10px;
    /* line-height: 150px; */
    color: white;
    /* font-size: 3em; */
    text-align: center;
}


