*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
body {
    color: #1E1E1E;
}
.header-home-page{
    width: 100vw; 
    display: flex;
    background-color: #1E1E1E;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Sub\ Container.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-size:100%;

}
.header-home-page h1 {
    margin-top: 450px;
    font-size: 48px;
    background: none;
    margin-bottom: 10px;
}
.header-home-page-p{
    font-size: 14px;
    text-align: center;
    width: 1140px;
    margin-bottom: 40px;
}
.header-home-page button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 210px;
    height: 52px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}
body{
    background-color: #1E1E1E;
}
@media (max-width:990px) {
    .header-home-page{
        /* width: 100vw !important; */
        display: flex;
        background-color: #1E1E1E;
        flex-direction: column;
        align-items: center;
        background-image: url(../assets/Sub\ Container.svg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
      
    
    }
    .header-home-page h1 {
        margin-top: 600px;
        font-size: 28px;
        width: 90vw;
        text-align: center;
        background: none;
        margin-bottom: 10px;
    }
    .header-home-page-p{
        font-size: 14px;
        text-align: center;
        width: 90vw;
        margin-bottom: 40px;
        overflow: hidden;
        height: 63px;
    }
    .header-home-page button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        width: 210px;
        height: 52px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
}
}
.device-section{
    display: flex;
    
    flex-direction: column;
    
    
    width: 90vw ;
    margin: 0 auto;
}
.device-section div h1{

    margin-top: 150px;
    margin-bottom: 20px;
}
.device-section div p{
    font-size: 18px;
    margin-bottom: 80px;
}
.device-section-box{
    width: 413px;
    padding:40px ;
 
background: rgb(0,0,0);
background: linear-gradient(40deg, rgba(0,0,0,1) 68%, rgb(42, 7, 7) 100%, rgba(45,2,2,1) 100%);
    border-radius: 10px;
    border: 1px solid;
    border-color: gray;

}
.device-section-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.device-box-top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}